# Population
## Purpose
Takes in the .csv file created in the popualtion analysis notebook and examines the realtionship between poplation and medals won

## Datasets

Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import math
import os.path
from sklearn.linear_model import LinearRegression 
from glob import glob

## Loading in Dataset

In [2]:
filepath = '../../data/final/population.csv'

Reads the .csv file into a dataframe

In [3]:
if not os.path.exists( filepath ):
    print("Missing dataset file")
else:
    df = pd.read_csv(filepath , encoding = "ISO-8859-1")
    print("File Read")

File Read

Print the first five liens of the dataframe

In [4]:
df.head()

,Country,Host_City,Year,Gold_Share,Medal_Share,Rating_Share,Males,Females,Summer,Winter,...,NOC_Females_Sent,NOC_Total_Sent,Female_Representation,Male_Representation,Population_Representation,Norm_POP,Norm_POPD,Norm_Gold_Share,Norm_Total_Medal_Share,Norm_Rating_Share
0,Afghanistan,Beijing,2008,0.000000,0.000490,0.000248,14054874.0,13239157.0,True,False,...,1.0,4.0,7.553351e-08,2.134491e-07,1.465522e-07,0.019780,0.005080,0.000000,0.000000,0.000000
1,Afghanistan,London,2012,0.000000,0.000514,0.000260,15784301.0,14912657.0,True,False,...,1.0,6.0,6.705713e-08,3.167704e-07,1.954591e-07,0.022249,0.005726,0.000000,0.000039,0.000025
2,Algeria,Atlanta,1996,0.003252,0.001616,0.001894,14898762.0,14512653.0,True,False,...,6.0,44.0,4.134323e-07,2.550547e-06,1.496018e-06,0.021316,0.001466,0.005813,0.001847,0.003294
3,Algeria,Barcelone,1992,0.001779,0.001168,0.001180,13764639.0,13416455.0,True,False,...,2.0,35.0,1.490707e-07,2.397448e-06,1.287660e-06,0.019699,0.001347,0.003181,0.001113,0.001865
4,Algeria,Beijing,2008,0.000000,0.000981,0.000743,17605574.0,17255141.0,True,False,...,24.0,58.0,1.390890e-06,1.931207e-06,1.663764e-06,0.025269,0.001755,0.000000,0.000805,0.000992

# Sets Figure settings

In [5]:
plt.rc('font', size=12)          # controls default text sizes
plt.rc('axes', titlesize=15)     # fontsize of the axes title
plt.rc('axes', labelsize=15)    # fontsize of the x and y labels
plt.rc('xtick', labelsize=15)    # fontsize of the tick labels
plt.rc('ytick', labelsize=15)    # fontsize of the tick labels
plt.rc('legend', fontsize=15)    # legend fontsize
plt.rc('figure', titlesize=20, figsize=(15, 7.5))

# Basic Analysis

In [6]:
df.columns

Index(['Country', 'Host_City', 'Year', 'Gold_Share', 'Medal_Share',
       'Rating_Share', 'Males', 'Females', 'Summer', 'Winter',
       'Population_Density', 'Population', 'NOC_Males_Sent',
       'NOC_Females_Sent', 'NOC_Total_Sent', 'Female_Representation',
       'Male_Representation', 'Population_Representation', 'Norm_POP',
       'Norm_POPD', 'Norm_Gold_Share', 'Norm_Total_Medal_Share',
       'Norm_Rating_Share'],
      dtype='object')

In [7]:
df[['Rating_Share', 'Males', 'Females', 'Summer', 'Winter',
       'Population_Density', 'Population', 'NOC_Males_Sent',
       'NOC_Females_Sent', 'NOC_Total_Sent', 'Female_Representation',
       'Male_Representation', 'Population_Representation']].describe()

,Rating_Share,Males,Females,Population_Density,Population,NOC_Males_Sent,NOC_Females_Sent,NOC_Total_Sent,Female_Representation,Male_Representation,Population_Representation
count,1191.000000,1.191000e+03,1.191000e+03,1191.000000,1.191000e+03,1191.000000,1191.000000,1191.000000,1.191000e+03,1.191000e+03,1.191000e+03
mean,0.026658,3.156499e+07,3.158360e+07,158.051674,6.314859e+07,71.484467,34.664148,106.148615,5.325561e-06,1.434532e-05,9.751344e-06
std,0.053628,8.880189e+07,8.434526e+07,514.201499,1.731057e+08,66.031896,46.487422,106.380681,1.384818e-05,4.071959e-05,2.576378e-05
min,0.000248,1.140400e+04,1.252200e+04,0.774571,2.392600e+04,1.000000,0.000000,1.000000,0.000000e+00,1.144086e-08,2.013702e-08
25%,0.001651,3.308598e+06,3.421838e+06,23.162662,6.796250e+06,26.000000,7.000000,37.000000,5.609243e-07,1.951762e-06,1.396932e-06
50%,0.006552,8.071548e+06,8.288105e+06,85.469208,1.634610e+07,49.000000,18.000000,68.000000,2.125179e-06,6.434781e-06,4.721696e-06
75%,0.027377,2.645109e+07,2.764118e+07,158.670467,5.400000e+07,92.000000,41.000000,132.500000,5.567128e-06,1.688407e-05,1.148660e-05
max,0.500000,7.103734e+08,6.682916e+08,8161.983988,1.378665e+09,379.000000,292.000000,649.000000,2.395783e-04,8.216313e-04,4.627158e-04

In [8]:
df.sample(5)

,Country,Host_City,Year,Gold_Share,Medal_Share,Rating_Share,Males,Females,Summer,Winter,...,NOC_Females_Sent,NOC_Total_Sent,Female_Representation,Male_Representation,Population_Representation,Norm_POP,Norm_POPD,Norm_Gold_Share,Norm_Total_Medal_Share,Norm_Rating_Share
628,"Korea, Rep.",Munich,1972,0.000000,0.000845,0.000854,16813008.0,16692398.0,True,False,...,12.0,44.0,7.188901e-07,1.903288e-06,1.313221e-06,0.024286,0.044869,0.000000,0.000582,0.001212
503,Ireland,London,2012,0.001577,0.003086,0.002341,2280652.0,2306245.0,True,False,...,28.0,64.0,1.214095e-05,1.578496e-05,1.395279e-05,0.003310,0.008193,0.002819,0.004262,0.004188
637,"Korea, Rep.",Vancouver,2010,0.034091,0.034026,0.037807,24829133.0,24724979.0,False,True,...,18.0,45.0,7.280087e-07,1.087432e-06,9.080982e-07,0.035927,0.066406,0.060937,0.055064,0.075156
556,Jamaica,Seoul,1988,0.000000,0.003234,0.003265,1183601.0,1209933.0,True,False,...,11.0,35.0,9.091412e-06,2.027710e-05,1.462273e-05,0.001719,0.032360,0.000000,0.004505,0.006037
618,"Korea, Rep.",Albertville,1992,0.046729,0.021605,0.027778,21941585.0,21806377.0,False,True,...,4.0,23.0,1.834326e-07,8.659356e-07,5.257388e-07,0.031715,0.058614,0.083528,0.034669,0.055087

In [9]:
temp = df.groupby(['Country','Host_City','Year'])['Gold_Share', 'Medal_Share','Rating_Share'].sum().reset_index()
tmp = df.groupby(['Country','Host_City','Year']).last().reset_index()[['Country','Host_City','Year','Males', 'Females', 'Summer', 'Winter',
       'Population_Density', 'Population', 'NOC_Males_Sent',
       'NOC_Females_Sent', 'NOC_Total_Sent', 'Female_Representation',
       'Male_Representation', 'Population_Representation','norm_Gold_Share',
       'norm_Medal_Share', 'norm_Rating_Share', 'norm_Population',
       'norm_Population_Density', 'norm_Male_Representation',
       'norm_Female_Representation', 'norm_Population_Representation',
       'norm_Males', 'norm_Females','Ath_Rating']]
df = pd.merge(temp, tmp,  how='left', left_on=['Country','Host_City','Year'], 
                    right_on = ['Country','Host_City','Year'])
df.head()

KeyError: "['norm_Gold_Share' 'norm_Medal_Share' 'norm_Rating_Share' 'norm_Population'\n 'norm_Population_Density' 'norm_Male_Representation'\n 'norm_Female_Representation' 'norm_Population_Representation' 'norm_Males'\n 'norm_Females' 'Ath_Rating'] not in index"

In [ ]:
df.columns

In [ ]:
df.to_csv(r"..\..\data\final\pop.csv", index=False)